*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imga2 {
    width: 400px;
    height: 200px;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf2ed;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px; /* Ajusta la separación entre la imagen y el h2 */
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    margin-left: 40px;
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover {
    color: #f39200;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-container label {
    color: #fff;
    margin-right: 10px;
}

.btn-group {
    display: flex;
    align-items: center;
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

.btnLogin-popup:hover {
    background: #fff;
    color: #0d522c;
}


.list-group-item a {
    color: #0d522c; /* Cambia el color de los enlaces (puedes cambiar el valor hexadecimal según tu preferencia) */
    text-decoration: none; /* Elimina la subrayado */
}

/* Para cambiar el color al pasar el cursor sobre el enlace */
.list-group-item a:hover {
    color: #f39200; /* Cambia el color del enlace al hacer hover (opcional) */
    text-decoration: none; /* Mantener sin subrayado */
}



body {
    background-image: url("http://localhost/MyMedicRec/images/fondoDasboardWeb.png");
    background-position: -30%;
    background-size: cover;
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-attachment: fixed; /* La imagen se mantiene fija al hacer scroll o zoom */
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
}

.img {
    width: 80px;
    height: 70px;
    border-radius: 50px;
}

.imga {
    width: 180px;
    height: 180px;
    border-radius: 50px;
}


/* Parte del codigo para los botones */


#botonesNegacion {
    display: flex; /* Usa flexbox para alinear los botones */
    flex-direction: column; /* Cambia la dirección a columna para que el título esté encima */
    align-items: center; /* Centra los elementos horizontalmente */
}

.button-container {
    display: flex; /* Usa flexbox para alinear los botones uno al lado del otro */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 0; /* Espacio entre los botones */
    padding: 0; /* Eliminar padding del contenedor */
}

.button-container button {
    margin: 0; /* Eliminar margen predeterminado de los botones */
}

#botonesNegacion  button  {
    width: 260px; /* Ancho fijo para los botones */
    height: 260px; /* Alto fijo para los botones */
    padding: 0; /* Eliminar padding del botón */
    border: none; /* Eliminar borde del botón */
    background: none; /* Eliminar fondo del botón */
    display: flex; /* Usar flexbox en el botón para centrar la imagen */
    justify-content: center; /* Centrar la imagen horizontalmente */
    align-items: center; /* Centrar la imagen verticalmente */
}

#botonesNegacion .img {
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del botón */
    height: 100%; /* Hacer que la imagen ocupe todo el alto del botón */
    object-fit: cover; /* Mantener la proporción de la imagen y cubrir el botón */
    display: block; /* Asegurarse de que la imagen se muestre como un bloque */
}



/* .image-container {
    width: 100%; /* Esto ajusta el ancho al 100% del contenedor padre 
    max-width: 500px; /* Esto limita el tamaño máximo del contenedor 
    height: auto; /* El contenedor ajusta su altura según el contenido 
    border: 2px solid #ccc; /* Opcional: añadir borde 
    overflow: hidden; /* Para evitar que el contenido sobresalga 
    resize: both; /* Permite redimensionar el contenedor manualmente 
    background-image: url('ruta/de/tu-imagen.jpg') no-repeat center center;
    background-size: cover; /* Hace que la imagen cubra todo el contenedor 
}
  
  .responsive-image {
    width: 100%;
    height: auto;
  }
 

  /* background-image: url('http://localhost/MyMedicRec/images/TipA.png'); background-size: cover; background-position: center; */

  /* Esto es para las tabalas que se mostrarán */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(217, 235, 235);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgb(146, 151, 151);
}

.table-hoverBB tbody tr:hover td {
    background-color: rgb(205, 194, 145);
    color: rgb(112, 24, 78);
}

.thead-green {
    background-color: rgb(4, 78, 57);
    color: white;
}

.tablescroll {
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.cabeceras {
    position: sticky;
    top: 0;
}

